/* Quitando estilos predeterminados */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Estilos generales */
body {
  font-family: "Raleway", sans-serif;
  display: block;
}

h1 {
  font-weight: 400;
  font-size: 35px;
}

h2 {
  font-weight: 500;
}

p {
  font-size: 110%;
}

/* Estilos NAV */
.container {
  width: 100%;
  height: 18vh;
  display: flex;
  align-items: center;
  z-index: 1000;
  border-bottom: 3em;
  background-color: white;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.logo img {
  width: 70%;
}

header {
  position: relative;
}

header::after {
  content: "";
  clear: both;
  display: block;
}

.navigation {
  top: 100%;
  left: 0;
  position: absolute;
  background-color: white;
  height: 0;
  overflow: hidden;
}

.nav-open {
  height: auto;
}

.navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu a {
  display: block;
  text-decoration: none;
  color: #2b2b2b;
  padding: 54px 237px 54px 33px;
  text-align: left;
  width: 360px;
  cursor: pointer;
}

.menu-toggle {
  padding: 1em;
  position: absolute;
  top: 2.5em;
  left: 1em;
}

.hamburguer,
.hamburguer::before,
.hamburguer::after {
  content: "";
  display: block;
  background: white;
  height: 3px;
  width: 1.5em;
  border-radius: 3px;
  background: #adacac;
}

.hamburguer::before {
  transform: translateY(-8px);
}

.hamburguer::after {
  transform: translateY(5px);
}

/* Estilos HERO */
#hero {
  height: 82vh;
  background-image: url(./labcar_recursos/img/taxi.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  display: flex;
}

#yellow-container {
  background-color: #f7b617;
  width: 78%;
  height: 46%;
  color: white;
  margin-top: 39%;
  margin-left: 22%;
}

.white-button {
  background-color: white;
  font-weight: 500;
  font-size: 18px;
  padding: 11px;
  color: #2b2b2b;
  border-radius: 5px;
  border: transparent;
  margin-top: 13px;
  cursor: pointer;
}

.text-hero-container {
  text-align: left;
  width: 70%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.white-logo {
  width: 50%;
}

/* Estilos INFORMACIÓN */
#information {
  background-color: #f7b617;
  width: 100%;
  height: 100vh;
  color: white;
  padding-top: 15%;
  text-align: center;
}

#text-mobile-container {
  width: 85%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 2px solid;
  padding-top: 20%;
}

#mobile {
  width: 70%;
  margin-top: 10%;
}

#information p {
  margin-top: 15%;
}
